* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  .contact-us {
    
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    color: #333;

  }
  
  .contact-us h1 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form label {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color: #666;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #FF6565;
    outline: none;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .cta-btn {
    background-color: #FF6565;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-btn:hover {
    background-color: #ff4c4c;
  }
  